/* generali */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.conteiner{
  margin: 0 auto;
  width: 1200px;
  height: 2000px;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.fl{
  float: left;
}

.pdl{
  padding-left: 100px;
}

.pdr{
  padding-right: 100px;
}

header a, nav a{
  text-decoration: none;
}

.font-size{
  font-size: 10px;
}

.bianco{
  color: #fff;
}

.button{
  background-color: green;
  color: #fff;
  border-radius: 10px;
}

/* / generali */

/* header */

header{
  width: 100%;
  /* height: 400px; */
  background-color: darkblue;
}

/* nav */

nav{
  width: 100%;
  height: 70px;
}

/* logo nav */

header nav .logo{
  width: 150px;
  height: 70px;
  position: relative;
}

header nav .logo img{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

/* / logo nav */
/* lista nav */

header nav .list-nav{
  /* height: 70px; */
}

/* / parte lista nav */
/* parte di nav input */

header nav .input-nav{
  height: 70px;
  float: right;
}

header nav ul{
  text-align: center;
  line-height: 70px;
}

header nav li{
  display: inline-block;
  padding: 0 3px;
}

/* / nav input */
/* / nav */

.hid-content{
  width: 100%;
  height: 328px;
  position: relative;
}

.hid-content img{
  width: 750px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hid-content-tit{
  z-index: 10;
  position: absolute;
  top: 75px;
}

.hid-content-tit > div{
  margin-top: 40px;
}

/* css main */
/* banda grigia main:section1 */

.gray-band{
  width: 100%;
  height: 100px;
  background-color: gray;
  text-align: center;
}

.gray-band > div{
position: relative;
top: 50%;
transform: translate(0, -50%);
}

.gray-band > div > p{
  padding-top: 7px;
  color: darkgray;
}

/* / banda grigia main:section1 */
/* section 2 main */

main section:nth-child(2){
  width: 100%;
}

main section > .sezione2-3{
  width: calc(100% / 3);
  text-align: center;
  position: relative;
}

main section:nth-child(2) > .sezione2-3 > img{
  padding-top: 30px;
  height: 200px;
}

main section:nth-child(2) > .sezione2-3 > h3{
  padding-top: 30px;
  color: green;
  font-size: 20px;
}

main section:nth-child(2) > .sezione2-3 > .linea{
  width: 50px;
  height: 30px;
  border-bottom: 1px solid black;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* / section2 main */
/* comuni a 2 e 3  */

main section:nth-child(2) h3, main section:nth-child(3) div{
  padding: 0 15px;
}

/* / comuni a 2 e 3  */
/* section3 main */

main section:nth-child(3){
  width: 100%;
  margin-top: 60px;
}

main section:nth-child(3) > div:first-child{
  margin-bottom: 30px;
}

/* / section3 main */
/* section4 main */

main section:nth-child(4){
  clear: left;
  width: 100%;
  border-top: 1px solid black;
  padding-top: 50px;
}

main section:nth-child(4) .section4-right{
  width: 50%;
  margin-bottom: 30px;
  }

  main section:nth-child(4) .section4-left{
    width: 40%;
    margin-left: 70px;
  }

  main section:nth-child(4) .section4-left *{
    padding: 20px 0;
    text-decoration: ;
  }

  /* / section4 main */
  /* / main */
  /* footer */

footer{
  clear: left;
  width: 100%;
  height: 100px;
  background-color: gray;
}

footer > .fot-left{
  width: 40%;
  height: 100px;
  line-height: 100px;
  font-size: 25px;
}

footer .fot-button{
  float: right;
  height: 100px;
  position: relative;
  top: 18px;
}

footer .fot-button > div:first-of-type button{
  width: 150px;
  padding: 10px 0;
  font-size: 10px;
}

footer .fot-button > div:nth-of-type(2) button{
  width: 50px;
  padding: 10px 0;
  font-size: 10px;
  margin-top: 5px;
}

footer .fot-select{
  height: 100px;
  line-height: 100px;
  float: right;
  padding-right: 20px;
}
